@{
    ViewData["Title"] = "Home Page";
}

@model Dictionary<String, List<List<Double>>>
@{ var size = 500;}
@{ var borderSize = 50;}


<!DOCTYPE html>

<html>
<head>
    <title>Canvas</title>
    <script type="text/javascript">
    var colors = ["#FF0000", "#00FF00", "#0000FF", "#FFBF00", "#9966CC", "#8DB600", "#00FFFF", "#4B5320", "#08457E", "#E97451"]
     function draw()
     {
              var myArray = [];
        @foreach (var ii in Model["centers"])
        {
            @:myArray.push("@ii[0]");
            @:myArray.push("@ii[1]");
        }
         var canvas = document.getElementById('tutorial');
                if (canvas.getContext)
                {
                  var ctx = canvas.getContext('2d');
                  
                  // for (let i = 0; i < @Model["centers"].Count * 2; i += 2) 
                  //     {
                  //             ctx.fillRect(Number(myArray[i]) * @size + @borderSize, Number(myArray[i+1]) * @size + @borderSize, 10, 10);
                  //     }
                }
         @for (var i = 0; i < Model.Count - 1; ++i)
         {
             @:ctx.fillStyle = colors[@i % 10];
             foreach (var ii in Model[i.ToString()])
             {
                 @:ctx.fillRect(Number(@ii[0])*@size + @borderSize, Number(@ii[1])*@size + @borderSize, 5, 5);
             }

         }
         ctx.fillStyle = "#000000";
         for (let i = 0; i < @Model["centers"].Count * 2; i += 2) 
                               {
                                       ctx.fillRect(Number(myArray[i]) * @size + @borderSize, Number(myArray[i+1]) * @size + @borderSize, 7, 7);
                               }
         
         
     }
    </script>
    <style type="text/css">
          canvas { border: 1px solid black; }
        </style>

</head>
<body onload="draw();">
<canvas id="tutorial" width="@(size + 2 * borderSize)" height="@(size + 2 * borderSize)"></canvas>
</body>
</html>