﻿@{
    ViewData["Title"] = "Home Page";
}

@model List<string>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> a = @Model[0]</h2>
    <h2> b = @Model[1]</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>